<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">

      <li class="item item-toggle">
        Shop Health Meter
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="healthmeter">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        Budget Meter
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="budgetmeter">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        Ethical Meter
        <label class="toggle toggle-royal">
          <input type="checkbox" ng-model="ethicmeter">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

    </ul>
  </ion-content>
</ion-view>
