<ion-view view-title="<span style='vertical-align:top'>Add an item...</span><img src='img/Icon.png' style='vertical-align:top' alt='Icon' height='44px' width='44px'/>">
  <ion-content>
    <h4 style="padding-left: 15px; padding-top:8px;">Suggested for you</h4>
    <ion-slide-box style="height:200px;" on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="row">
          <div class="col col-33 item item-image" >
		  <a ng-click="addItem('223','Nappies','http:\/\/assets.huggies-cdn.net\/video\/thumbnails\/1293_54312_23273_00-00-10_1_400x225.jpg',1,10.50)">
            <img src="http://assets.huggies-cdn.net/video/thumbnails/1293_54312_23273_00-00-10_1_400x225.jpg" style="padding:5px !important;" ></a>
			<h2>Nappies</h2>
			<p><h2>1 units : $10.50</h2></p>
          </div>
          <div class="col col-33 item item-image">
		  <a ng-click="addItem('224','Pacifiers','http:\/\/everydaylife.globalpost.com\/DM-Resize\/photos.demandstudios.com\/getty\/article\/78\/219\/87452043.jpg?w=600&h=600&keep_ratio=1&webp=1',1,3.50)">
            <img src="http://everydaylife.globalpost.com/DM-Resize/photos.demandstudios.com/getty/article/78/219/87452043.jpg?w=600&h=600&keep_ratio=1&webp=1	" style="padding:5px !important;"></a>
			<h2>Pacifiers</h2>
			<p><h2>1 units : $3.50</h2></p>
		  </div>
          <div class="col col-33 item item-image" style="background-color='orange'" >
		  <a ng-click="addItem('225','Milk formula SPECIAL THIS WEEK!','http:\/\/i00.i.aliimg.com\/wsphoto\/v1\/665390386\/Free-Shipping-Karicare-Aptamil-Milk-Powder-Gold-Infant-Formula-Stage-1-0-6-Mon-Buy-and.jpg_350x350.jpg',1,20.50)">
            <img src="http://i00.i.aliimg.com/wsphoto/v1/665390386/Free-Shipping-Karicare-Aptamil-Milk-Powder-Gold-Infant-Formula-Stage-1-0-6-Mon-Buy-and.jpg_350x350.jpg" style="padding:5px !important;">
			</a>
			<h2>Milk formula SPECIAL THIS WEEK!</h2>
			<p><h2>1 units : $20.50</h2></p>
		  </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col col-33 item item-image" >
		  <a ng-click="addItem('223','Nappies','http:\/\/assets.huggies-cdn.net\/video\/thumbnails\/1293_54312_23273_00-00-10_1_400x225.jpg',1,10.50)">
            <img src="http://assets.huggies-cdn.net/video/thumbnails/1293_54312_23273_00-00-10_1_400x225.jpg" style="padding:5px !important;" ></a>
			<h2>Nappies</h2>
			<p><h2>1 units : $10.50</h2></p>
          </div>
          <div class="col col-33 item item-image">
		  <a ng-click="addItem('224','Pacifiers','http:\/\/everydaylife.globalpost.com\/DM-Resize\/photos.demandstudios.com\/getty\/article\/78\/219\/87452043.jpg?w=600&h=600&keep_ratio=1&webp=1',1,3.50)">
            <img src="http://everydaylife.globalpost.com/DM-Resize/photos.demandstudios.com/getty/article/78/219/87452043.jpg?w=600&h=600&keep_ratio=1&webp=1	" style="padding:5px !important;"></a>
			<h2>Pacifiers</h2>
			<p><h2>1 units : $3.50</h2></p>
		  </div>
          <div class="col col-33 item item-image" style="background-color='orange'" >
		  <a ng-click="addItem('225','Milk formula SPECIAL THIS WEEK!','http:\/\/i00.i.aliimg.com\/wsphoto\/v1\/665390386\/Free-Shipping-Karicare-Aptamil-Milk-Powder-Gold-Infant-Formula-Stage-1-0-6-Mon-Buy-and.jpg_350x350.jpg',1,20.50)">
            <img src="http://i00.i.aliimg.com/wsphoto/v1/665390386/Free-Shipping-Karicare-Aptamil-Milk-Powder-Gold-Infant-Formula-Stage-1-0-6-Mon-Buy-and.jpg_350x350.jpg" style="padding:5px !important;">
			</a>
			<h2>Milk formula SPECIAL THIS WEEK!</h2>
			<p><h2>1 units : $20.50</h2></p>
		  </div>
        </div>
      </ion-slide>
	  
    </ion-slide-box>
	<input type="input" placeholder="Awaiting scan..." ng-model="addedbarcode">
    <a class="button button-block button-positive" ng-click="scan()">
      Scan Item
    </a>
    <a class="button button-block button-positive" href="#/app/search">
      Search Item
    </a>
  </ion-content>
</ion-view>