<ion-view view-title="<span style='vertical-align:top'>New World Vic Park Busy?</span><img src='img/Icon.png' style='vertical-align:top' alt='Icon' height='44px' width='44px'/>">

  <ion-content ng-init="showMeters();">
  <div class="row">
   <div class="col"><div id="busyMeter1"></div>Within the next hour.</div>
   <div class="col"><div id="busyMeter2"></div>Within the hour after that.</div>
   </div>
   <div class="row">
	Estimated 27 minutes travel from your current location:
   </div>
   <div class="row">
	11B Newington Road, Henderson, Auckland
   </div>
  </ion-content>
</ion-view>
