<ion-view view-title="<span style='vertical-align:top'>Ready to checkout! ${{impVars.TotalPrice.toFixed(2)}}</span><img src='img/Icon.png' style='vertical-align:top' alt='Icon' height='44px' width='44px'/>">
  <ion-content ng-init="showGraph(); showMeters();">

    <div class="row">
	<div class="col"><div id="healthMeter"></div><b>Health</b></div>
    <div class="col"><div id="budgetMeter"></div><b>Budget</b></div>
	</div>
    <div id="chart" style="width: 350px; height: 250px; "></div>
    <button class="button button-full button-royal">
      Pick Up
    </button>
    <button class="button button-full button-royal">
      Delivery
    </button>
  </ion-content>
</ion-view>