<ion-view view-title="<span style='vertical-align:top;'><font color={{impVars.BudgetHealthColor}}>${{impVars.TotalPrice.toFixed(2)}}..${{impVars.Budget.toFixed(2)}} Budget</font></span><img src='img/Icon.png' style='vertical-align:top' alt='Icon' height='44px' width='44px'/>" >

  <ion-content>  
	
    <ion-list>
		
      <ion-item ng-repeat="productitem in shoppinglist" on-swipe-left="removeProduct(productitem.ShoppingListProductId)">
		<span class="item item-thumbnail-left" ng-style="(foundItem==productitem.Product.ShortDescription)? {'background-color':'orange'}:{'background-color':'white'}">
			<img src={{productitem.Product.ImageUrl}}>
			<h2 ng-style="(productitem.Product.IsHealthy)?{'color':'green'}:{'color':'black'}">{{productitem.Product.ShortDescription}}</h2>
			<p>{{productitem.Product.QuantityUnit}} @ ${{productitem.Product.PricePerUnit.toFixed(2)}}</p>
			<p><h2><input placeholder="qty" type="number" ng-model="productitem.Quantity" style="width:40px">units :  ${{(productitem.Quantity * productitem.Product.PricePerUnit).toFixed(2)}}</h2></p>
		</span>	  
      </ion-item>
    </ion-list>
	
	<div style="padding-bottom:50px">
	
  </ion-content>
	
	<div class="tabs tabs-icon-top">
	  <a class="tab-item" href="#/app/additems">
		<i class="icon ion-plus-circled"></i>
		Add Items
	  </a>
	  <a class="tab-item" href="#/app/map">
		<i class="icon ion-map"></i>
		Map
	  </a>
	  <a class="tab-item" href="#/app/done">
		<i class="icon ion-checkmark-circled"></i>
		Done
	  </a>
	</div>
</ion-view>