/* Empty. Add your own CSS if you like */
.profPic{
	margin-left: auto;
    margin-right: auto;
}

.main{
	background-color: #886aea;
	color:#ffff
}

.top{
	display: block;
}

.totals{
	background-color: #886aea;
	color: #ffffff;
	text-align: center;
}